// Vendor
@import "reset";
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "font-awesome";

// Mixins
@import "mixins/padding";
@import "mixins/containers";
@import "mixins/module";
@import "mixins/hide-text";
@import "mixins/omega-reset";
@import "mixins/list-of-links";
@import "mixins/trailing-hovers";
@import "mixins/rounded-corners";
@import "mixins/buttons";
@import "mixins/triangle";

// Site
@import "nav";

// TODO: include animate.css from Bower

.container {
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
  padding:0 1em;

  @include media($medium-screen) {
    padding:auto;
  }
}

// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
body {
background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: #494f57;
}

.site-main {
  @include section_padding(2em);
}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts

}
h1 {font-size: 2em;}

// undo _form scaffold
.field br { display:none;}
// ------------------------------------------------------------
// design for app
// ------------------------------------------------------------

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
  text-align: center;
  font-size: 0.6em;
  color: $dark-gray;
  font-weight: 100;
}



.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin: 0;
  a {
    text-decoration: none;
    color: white;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 0.4;
    }
  }
}

.todo_list_sub_title {
  margin: 0 0 3em 0;
  text-align: center;
  font-size: 0.9em;
  color: $dark-gray;
  font-weight: 100;
}

.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250,250,250, .3);
  .todo_list_sub_title {
    margin-bottom: 0;
  }
}

#todo_items_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250,250,250, .3);
    border-bottom: 1px solid rgba(250,250,250, .3);
    .complete {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
    }
    .todo_taks {
      width: 80%;
      float: left;
      p {
        margin: 0;
        padding: 1em;
        color: $dark-gray;
        font-weight: 100;
      }
    }
    .trash {
      width: 10%;
      float: left;
      text-align: center;
      border-left: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
    }
    i {
      color: white;
      transition: all .4s ease-in-out;
      &:hover {
        color: $dark-gray;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 72%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250,250,250,.4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }
    input[type="submit"] {
      background: rgba(250,250,250,.4);
      outline: none;
      border: none;
      height: 40px;
      border-radius: 4px;
      width: 25%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $dark-gray;
      }
    }
    ::-webkit-input-placeholder { color: $dark-gray; }
  }
}

.links {
  display: block;
  margin: 1.5em auto 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: white;
  a {
    color: white;
  }
}

.forms {
  padding: 0 5%;
}
label {
  color: $dark-gray;
}
input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: $dark-gray;
  &:hover {
    background: $dark-gray;
    color: white;
  }
}
::-webkit-input-placeholder { color: $dark-gray; }
