<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

 <header class="site-header">
  <nav class="site-nav container" role="navigation">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-list" aria-hidden="true"></i> Todo List
      <% end %>
<!--
      <ul class="nav-links">
        <li><%= link_to 'Home', root_path %>
          <ul></ul>
        </li>
      </ul>
      </div>
      <div class="mobile-menu"><i class="fa fa-navicon"></i></div>

    </nav>
-->
  </div>
</header>

<main class="site-main">
  <div class="container module">
    <div class="container-wrapper">
      <%= yield %>
    </div>
  </div>
</main>

<footer class="site-footer">
  <div class="container">
    <p>&copy; <%= Time.now.year %> <a href="#">Todo list</a></p>
  </div>
</footer>

  <!-- bottom  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :js %>
  <% if Rails.env == "Production" %><!-- ex. google analytics --><% end %>
  <!-- /bottom  -->
</body>
</html>
